
.boxone{
    font-family: 'Hina Mincho', serif;
    font-size: 118%;
    margin:0px 50px;
    margin-bottom:20px;
    padding-top:20px;
}

.boxthree, .boxfive , .boxsix, .boxseven {
    font-family: 'Hina Mincho', serif;
    font-size: 118%;
    margin:0px 50px;
    margin-bottom:20px;
}

.boxtwo{
    display:flex;
    justify-content: space-between;
    margin:0px 160px;
}

.boxfive, .boxsix , .boxnine, .boxten{
    display:flex;
    justify-content: space-between;
    margin:0px 50px;
}

.boxfour{
    display:flex;
    justify-content: space-between;
    margin:0px 100px;
}

.boxeight{
    display: flex;
    justify-content: space-between;
    margin:0px 80px;
}

.boxfive img, .boxsix img{
    margin-right:70px;
}

#boxfivecontent, #boxsixcontent {
    margin-top:30px;
    width:480px;
}

#boxninecontent , #boxtencontent{
    font-family: 'Hina Mincho', serif;
    font-size: 120%;
    margin-left:100px;
    margin-top:50px;
    width:400px;
}

.boxten #boxtencontent{
    margin-top:15px;
}

.footerrajmachi{
    margin:0px 50px;
    text-align: center;
    font-size: 130%;
    color:rgb(21, 126, 126);
    padding-bottom:10px;
    display:flex;
    justify-content: space-between;
    margin-left:225px;
}
